
.modal-container{
    display: none;
    width: 410px;
    height: 385px;
    border-radius: 9px;
    background-color: #061f3e;
    position: relative;
    z-index: 2;
    animation-name: animate;
    animation-duration: 0.6s;
}

.outer-frame, .modal-header, .modal-body, .modal-footer{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

@keyframes animate {
    0%{
        top: -200px;
        opacity: 0
    }
    100%{
        top: 8px;
        opacity: 1
    }
}

#btnStart{
    width: 190px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #f7bc26;
}
#btnStart:hover{
    cursor: pointer;
}

h2, h4, span{
    color: whitesmoke;
}
span, .close{
    font-weight: bolder;
}
.span-block{
    display: block;
}

.modal-header img{
    width: 60px;
    height: 60px;
}
.close{
    color: #86b7fe;
    float: right;
    font-size: 29px;
    padding-right: 5px;
}
.close:hover{
    color: #ffc107;
    cursor: pointer;
}
#open-button{
    width: 105px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: #6b97d9;
}
#open-button:hover{
    cursor: pointer;
    color: #ffc107;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}